################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/GO.API/FileContentIndex/21b887af-a1db-48aa-86cd-4769e324c57d.vsidx
/API/.vs/GO.API/FileContentIndex/27765869-a7b3-43a6-ac8c-ace57d439ea1.vsidx
/API/.vs/GO.API/FileContentIndex/53e00a39-7320-402b-ac66-973194257dca.vsidx
/API/.vs/GO.API/FileContentIndex/556ce9c7-6951-44fb-92b5-603b5e3ebf27.vsidx
/API/.vs/GO.API/FileContentIndex/59dbda4f-ca45-48dd-b0b9-093a9cb6d358.vsidx
/API/.vs/GO.API/FileContentIndex/640ca8c4-64c8-4250-9ac7-f9de9ed1e8b7.vsidx
/API/.vs/GO.API/FileContentIndex/6df24067-b183-41a4-9494-3cbc783cceb9.vsidx
/API/.vs/GO.API/FileContentIndex/bfdc284b-736d-48f5-bc91-bb0b26b57735.vsidx
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.AssemblyInfoInputs.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.csproj.AssemblyReference.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.csproj.FileListAbsolute.txt
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.dll
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.pdb
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.sourcelink.json
/API/Com.Gosol.BUS/obj/Debug/net8.0/ref/Com.Gosol.BUS.dll
/API/Com.Gosol.BUS/obj/Debug/net8.0/refint/Com.Gosol.BUS.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.DAL.pdb
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.DAL/obj/Debug/net8.0/ref/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/refint/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.AssemblyInfoInputs.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.AssemblyReference.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.CoreCompileInputs.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.csproj.FileListAbsolute.txt
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.dll
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.pdb
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.sourcelink.json
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Models.dll
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Models.pdb
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Models/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.AssemblyInfoInputs.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.AssemblyReference.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.CoreCompileInputs.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.csproj.FileListAbsolute.txt
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.dll
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.pdb
/API/Com.Gosol.Models/obj/Debug/net8.0/ref/Com.Gosol.Models.dll
/API/Com.Gosol.Models/obj/Debug/net8.0/refint/Com.Gosol.Models.dll
/API/Com.Gosol.Security/bin/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.Security/bin/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.AssemblyInfoInputs.cache
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.csproj.FileListAbsolute.txt
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.dll
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.pdb
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.sourcelink.json
/API/Com.Gosol.Security/obj/Debug/net8.0/ref/Com.Gosol.Security.dll
/API/Com.Gosol.Security/obj/Debug/net8.0/refint/Com.Gosol.Security.dll
/API/Com.Gosol.Ultilities/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.AssemblyInfoInputs.cache
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.csproj.FileListAbsolute.txt
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.sourcelink.json
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/ref/Com.Gosol.Ultilities.dll
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/refint/Com.Gosol.Ultilities.dll
/API/GO.API/obj/Debug/net8.0/apphost.exe
/API/GO.API/obj/Debug/net8.0/GO.API.AssemblyInfoInputs.cache
/API/GO.API/obj/Debug/net8.0/GO.API.csproj.AssemblyReference.cache
/API/GO.API/obj/Debug/net8.0/GO.API.csproj.FileListAbsolute.txt
/API/GO.API/obj/Debug/net8.0/GO.API.dll
/API/GO.API/obj/Debug/net8.0/GO.API.pdb
/API/GO.API/obj/Debug/net8.0/GO.API.sourcelink.json
/API/GO.API/obj/Debug/net8.0/refint/GO.API.dll
/API/.vs/GO.API/FileContentIndex/6c96aa4f-36da-48b2-a1a2-cab75ed25ce3.vsidx
/API/.vs/GO.API/FileContentIndex/8f6cc9d5-cfe3-4d7f-ad5f-9dfc5f16192e.vsidx
/API/.vs/GO.API/v17/.suo
/API/.vs/GO.API/v17/DocumentLayout.json
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.AssemblyInfo.cs
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Models.dll
/API/Com.Gosol.DAL/bin/Debug/net8.0/Com.Gosol.Models.pdb
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.AssemblyInfo.cs
/API/GO.API/bin/Debug/net8.0/Com.Gosol.BUS.dll
/API/GO.API/bin/Debug/net8.0/Com.Gosol.BUS.pdb
/API/GO.API/bin/Debug/net8.0/Com.Gosol.DAL.dll
/API/GO.API/bin/Debug/net8.0/Com.Gosol.DAL.pdb
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Models.dll
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Models.pdb
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Security.dll
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Security.pdb
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Ultilities.dll
/API/GO.API/bin/Debug/net8.0/Com.Gosol.Ultilities.pdb
/API/GO.API/bin/Debug/net8.0/GO.API.dll
/API/GO.API/bin/Debug/net8.0/GO.API.exe
/API/GO.API/bin/Debug/net8.0/GO.API.pdb
/API/GO.API/obj/Debug/net8.0/GO.API.AssemblyInfo.cs
/API/GO.API/obj/Debug/net8.0/ref/GO.API.dll
/API/.vs/GO.API/DesignTimeBuild/.dtbcache.v2
/API/.vs/GO.API/FileContentIndex/2f4af9a7-ef4c-42d5-8dc9-743a801aef48.vsidx
/API/.vs/GO.API/FileContentIndex/3695eb3e-f6d1-4e45-a7c7-ffe02a583995.vsidx
/API/Com.Gosol.BUS/obj/Com.Gosol.BUS.csproj.nuget.dgspec.json
/API/Com.Gosol.BUS/obj/Com.Gosol.BUS.csproj.nuget.g.props
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.assets.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.csproj.CoreCompileInputs.cache
/API/Com.Gosol.BUS/obj/Debug/net8.0/Com.Gosol.BUS.GeneratedMSBuildEditorConfig.editorconfig
/API/Com.Gosol.BUS/obj/project.assets.json
/API/Com.Gosol.BUS/obj/project.nuget.cache
/API/Com.Gosol.DAL/obj/Com.Gosol.DAL.csproj.nuget.dgspec.json
/API/Com.Gosol.DAL/obj/Com.Gosol.DAL.csproj.nuget.g.props
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.assets.cache
/API/Com.Gosol.DAL/obj/Debug/net8.0/Com.Gosol.DAL.GeneratedMSBuildEditorConfig.editorconfig
/API/Com.Gosol.DAL/obj/project.assets.json
/API/Com.Gosol.DAL/obj/project.nuget.cache
/API/Com.Gosol.Models/obj/Com.Gosol.Models.csproj.nuget.dgspec.json
/API/Com.Gosol.Models/obj/Com.Gosol.Models.csproj.nuget.g.props
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.assets.cache
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.GeneratedMSBuildEditorConfig.editorconfig
/API/Com.Gosol.Models/obj/Debug/net8.0/Com.Gosol.Models.sourcelink.json
/API/Com.Gosol.Models/obj/project.assets.json
/API/Com.Gosol.Models/obj/project.nuget.cache
/API/Com.Gosol.Security/obj/Com.Gosol.Security.csproj.nuget.dgspec.json
/API/Com.Gosol.Security/obj/Com.Gosol.Security.csproj.nuget.g.props
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.assets.cache
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.csproj.AssemblyReference.cache
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.csproj.CoreCompileInputs.cache
/API/Com.Gosol.Security/obj/Debug/net8.0/Com.Gosol.Security.GeneratedMSBuildEditorConfig.editorconfig
/API/Com.Gosol.Security/obj/project.assets.json
/API/Com.Gosol.Security/obj/project.nuget.cache
/API/Com.Gosol.Ultilities/obj/Com.Gosol.Ultilities.csproj.nuget.dgspec.json
/API/Com.Gosol.Ultilities/obj/Com.Gosol.Ultilities.csproj.nuget.g.props
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.assets.cache
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.csproj.AssemblyReference.cache
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.csproj.CoreCompileInputs.cache
/API/Com.Gosol.Ultilities/obj/Debug/net8.0/Com.Gosol.Ultilities.GeneratedMSBuildEditorConfig.editorconfig
/API/Com.Gosol.Ultilities/obj/project.assets.json
/API/Com.Gosol.Ultilities/obj/project.nuget.cache
/API/GO.API/obj/Debug/net8.0/GO.API.assets.cache
/API/GO.API/obj/Debug/net8.0/GO.API.csproj.CoreCompileInputs.cache
/API/GO.API/obj/Debug/net8.0/GO.API.GeneratedMSBuildEditorConfig.editorconfig
/API/GO.API/obj/Debug/net8.0/GO.API.genruntimeconfig.cache
/API/GO.API/obj/GO.API.csproj.nuget.dgspec.json
/API/GO.API/obj/GO.API.csproj.nuget.g.props
/API/GO.API/obj/project.assets.json
/API/GO.API/obj/project.nuget.cache
/API/.vs/GO.API/FileContentIndex/40cd7673-f3e8-4d82-ad04-34463d943c01.vsidx
*.vsidx
/API/.vs/GO.API/DesignTimeBuild/.dtbcache.v2
